body {
  font-family: helvetica, sans-serif;
  color: #505050;
}

.pure-menu {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 1.8em;
  background-color: #000;
  font-color: #fff;
  padding-bottom: 20px;
  text-align: center;
  height: 32px;
  line-height: 20px;
}

.pure-menu a,
.pure-menu a:hover {
  color: #fff;
}

.pure-menu.pure-menu-horizontal {
  min-width: 1200px;
}

#header {
  position: absolute;
  margin-top: 2rem;
  padding-left: .5rem;
  padding-right: .5rem;
  text-align: center;
  top: 60px;
  left: 90px;
  background: #ddd;
  width: auto;
  opacity: 0.8;
}

header h1 {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 90px;
  line-height: 20px;
  padding-bottom: 20px;
  text-shadow: 2px 2px 2px #ccc;
  text-align: center;
}

#header h1 {
  -webkit-margin-before: 0.6rem;
  -webkit-margin-after: 0.5rem;
  display:inline;
  vertical-align: middle;
  margin-bottom: 0;
  font-size: 6.5em;
  color: #fff;
  font-weight: 500;
  text-shadow: 0 1px 1px black;
}

#header h2 {
  color: #888;
  -webkit-margin-before: 0.2rem;
  -webkit-margin-after: 0.8rem;
  margin-bottom: 0;
  font-size: 2em;
}

#wrapper {
  margin: 0 auto;
  padding-top: 0;
  min-width: 1200px;
}

#map-canvas {
  height: 400px;
  width: 100%;
  min-width: 1200px;
}

.search {
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 90px;
  min-height: 300px;
}

.buttons button{
  margin-top: 1em;
  float: right;
}

.dashboards h2 {
  font-size: 44px;
  font-weight: 200;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-left: 10px;
}

.dashboard h3 {
  font-size: 24px;
  font-weight: 200;
  margin-top: 2px;
  margin-bottom: 10px;
}

.dashboards {
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 20px;
}

.dashboard {
  padding-left: 10px;
  height: 450px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.vseparator {
  border-right: 1px solid #ccc;
}

.dashboard p {
  font-size: .8rem;
}

/*'rgb(179,226,205)','rgb(253,205,172)','rgb(203,213,232)','rgb(244,202,228)']
 */
.population {
  /*background: #F0F9F5;*/
  background: #fff;
}

.elections {
  /*background: #FFF5EE;*/
  background: #fff;
}

.economy {
  /*background: #FAFBFD;*/
  background: #fff;
}

.error {
  visibility: hidden;
}

.error p {
  font-size: 1rem;
  color: #80B1D3;
  padding-top: 120px;
  text-align: center;
  font-weight: 200; 
}

footer {
  background: black;
  color: white;
  text-align: center;
  font-size: .9rem;
  padding-top: .8rem;
  padding-bottom: .8rem;
  width:100%;
}

footer.home {
  position:absolute;
  bottom:0;
  left:0;
  height: 80px;
}

footer a,
footer a:visited,
footer a:hover {
  color: white;
  cursor: pointer;
  cursor: hand;
}

svg {
  margin: 0 auto;
}
.line {
  fill: none;
}

a.icon-info {
  text-decoration: none;
  color: #888;
  cursor: pointer;
  cursor: hand;
}

path {
  fill: #CED8B6;
}

line {
  stroke: #555;
  stroke-width: 2px;
}

.axis path, .axis line {
  stroke: #ccc;
  fill: none;
  shape-rendering: crispEdges;
}

text {
  font-size: 12px;
  fill: #666;
}

.votes text {
  font-size: 12px;
  fill: black;
}

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #666;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}

.tourism .axis text {
  font-size: 12px;
  color: #ccc;
}

.tourism .axis .tick line {
  visibility: hidden;
}
