body {
  font-family: helvetica, sans-serif;
  color: #505050;
}

.pure-menu {
  height: 36px;
  text-align: left;
  font-size: 1em;
  padding-top: .6em;
  padding-left: 1em;
}

#header {
  position: absolute;
  margin-top: 2rem;
  text-align: center;
  top: 60px;
  left: 90px;
  background: #ddd;
  width: 200px;
  opacity: 0.8;
}

#header h1 {
  font-weight: 200;
  -webkit-margin-before: 0.6rem;
  -webkit-margin-after: 0.5rem;
  display:inline;
  vertical-align: middle;
  margin-bottom: 0;
  font-size: 2em;
  color: #fff;
  font-weight: 500;
  text-shadow: 0 1px 1px black;
}

#header h2 {
  color: #888;
  -webkit-margin-before: 0.2rem;
  -webkit-margin-after: 0.8rem;
}

#wrapper {
  margin: 0 auto;
  padding-top: 0;
}

#map-canvas {
  height: 400px;
  width: 100%;
  z-index: -999999999999;
}

#wrapper h2 {
  font-size: 54px;
  font-weight: 200;
  padding: 0 0;
}

#wrapper h3 {
  font-size: 24px;
  font-weight: 200;
  padding: 0 0;
}

.dashboards {
  max-width: 1170px;
  margin: 0 auto;
}
.dashboard {
  height: 450px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.dashboard h3 {
  font-size: .9rem;
  margin-bottom: .1rem;
}

.dashboard p {
  font-size: .8rem;
}

footer {
  background: black;
  color: white;
  height: 30px;
  text-align: center;
  font-size: .8rem;
  padding-top: .8rem;
}

footer a,
footer a:visited,
footer a:hover {
  color: white;
  text-decoration: none;
}

svg {
  margin: 0 auto;
}
.line {
  fill: none;
}

a.icon-info {
  text-decoration: none;
  color: #888;
}

path {
  fill: #CED8B6;
}

line {
  stroke: #555;
  stroke-width: 2px;
}

.axis path, .axis line {
  stroke: #ccc;
  fill: none;
  shape-rendering: crispEdges;
}

text {
  font-size: 12px;
  fill: #666;
}

.votes text {
  font-size: 12px;
  fill: black;
}

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;
}
