<footer <%= 'class="home"' if request.path == '/' %>> 
  <p><strong>¿Qué es esto?</strong> Esto es Visual Aragopedia, una nueva forma de organizar y mostrar los datos disponibles en la <a href="http://opendata.aragon.es/aragopedia/" target="_blank">Aragopedia.</a></p>

  <p>
    Visual Aragopedia es un proyecto desarrollado para el <a herf="http://opendata.aragon.es/portal/jacathon" target="_blank">Jacathon</a> y <strong>nosotros somos</strong> <a href="https://twitter.com/ferblape" target="_blank">@ferblape</a>, <a href="https://twitter.com/leptom" target="_blank">@leptom</a> y <a href="https://twitter.com/maritrinez" target="_blank">@maritrinez</a>
  </p>
</footer>

