<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Jaca · La Jacetanea · Visual Aragopedia</title>
  <meta name="description" content="Visual Aragopedia...">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="/stylesheets/pure-min.css">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
  <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="/javascripts/jquery-2.1.1.min.js"></script>
</head>
<body>
  <header>
    <h1>Visual Aragopedia</h1>
  </header>

  <div id="wrapper">
    <div class="pure-g search">
      <div class="pure-u-1">
        <form class="pure-form pure-g" method="GET" action="/">
            <div class="pure-u-1 pure-u-md-1-3">
              <input name="id" type="text" placeholder="Nombre de municipio. Ejemplo: Jaca" class="pure-input-1">
            </div>
            <div class="pure-u-1 pure-u-md-1-3">
              <button type="submit" class="pure-input-3 pure-button pure-button-primary"><i class="fa fa-search"></i> Buscar municipio</button>
            </div>
        </form>
      </div>
    </div>
  </div>

  <footer> 
    <p>¿Qué es esto? Esto es Aragopedia Visual, una nueva forma de organizar y mostrar los datos disponibles en la <a href="http://opendata.aragon.es/aragopedia/" target="_blank">Aragopedia.</a></p>
    <p>Aragopedia Visual es un proyecto desarrollado para el <a herf="http://opendata.aragon.es/portal/jacathon" target="_blank">Jacathon</a> Por <a href="https://twitter.com/ferblape" target="_blank">@ferblape</a>, <a href="https://twitter.com/leptom" target="_blank">@leptom</a> y <a href="https://twitter.com/maritrinez" target="_blank">@maritrinez</a> </p>
  </footer>

</body>
</html>
